<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'Spring Boot : MVC + Thymeleaf + Data JPA - ' + ${titulo}">Insert
	title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<body>
	<header th:fragment="header">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<ul class="navbar-nav">
				<li><a class="nav-item nav-link" th:href="@{/listar}">Cliente</a></li>
				<!--     <li class="nav-item"> -->
				<!--       <a class="nav-link" href="#">Link</a> -->
				<!--     </li> -->
				<!--     <li class="nav-item"> -->
				<!--       <a class="nav-link" href="#">Link</a> -->
				<!--     </li> -->
				<!--     <li class="nav-item"> -->
				<!--       <a class="nav-link disabled" href="#">Disabled</a> -->
				<!--     </li> -->
			</ul>
		</nav>

		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${danger != null}" th:text="${danger}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring2.png}" alt="Spring logo" />
		<p>Todos los derechos reservados ameo</p>
		<script th:src="@{/js/jquery-3.2.1..min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

	</footer>

</body>
</html>